body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #4CAF50;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77b3d4 3px solid;
}

header h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
}

.blog-post img {
    border-radius: 5px;
}

footer {
    border-top: #77b3d4 3px solid;
}
