{% load static %}
<!DOCTYPE html>6
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href={% static "thanks.css" %}>
</head>
<body>
    <div class="thankyou-container">
        <div class="thankyou-header">
            <h1>Thank You!</h1>
            <p>Your message has been successfully sent. I will get back to you soon.</p>
            <a href="/" class="home-link">Return to Home</a>
        </div>
    </div>
</body>
</html>
